<h4>Edit Project</h4>
<label>Title:</label>
<input [(ngModel)]="selectedProject.title">
<label>Description:</label>
<input [(ngModel)]="selectedProject.description">
<label>Project Manager:</label>
<input [(ngModel)]="selectedProject.projectManager">
<label>Money Needed:</label>
<input [(ngModel)]="selectedProject.desiredMoney">
<label>Money Raised so Far:</label>
<input [(ngModel)]="selectedProject.raisedMoney">
<button (click)="beginUpdatingProject(selectedProject)">Update</button>
<button (click)="beginDeletingProject(selectedProject)">Delete</button>
