<h2>Projects</h2>
<select class="selectpicker form-control" data-style="btn-primary"   (change)="onChange($event.target.value)">
  <option value="allProjects" selected="selected">All Projects</option>
  <option value="over10,000">Projects that still need over $10,000</option>
  <option value="under10,000">Projects that only need $10,000 or less</option>
</select>



<div *ngFor="let project of projects | async | moneyStillNeeded:filterByMoneyStillNeeded" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(project)">{{project.title}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      {{project.description}}<br>
      {{project.projectManager}}<br>
      {{project.desiredMoney}}<br>
      {{project.raisedMoney}}
      <hr>

    </div>
    <div class="form">
      <app-edit-project [selectedProject]="project"></app-edit-project>
    </div>
  </div>
</div>
