<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add a new project.</h3>
  </div>
  <div class="panel-body">
    <form>
      <label>Title:</label>
      <br>
      <input type=”text” class="form-control" #newTitle name="title" required>
      <br>
      <label>Description:</label>
      <br>
      <textarea type=”text” class="form-control" #newDescription required></textarea>
      <br>
      <label>Project Manager:</label>
      <br>
      <input type=”text” class="form-control" #newProjectManager required>
      <br>
      <label>Amount of money needed:</label>
      <br>
      <input class="form-control"type="number" #newDesiredMoney>
      <br>
      <label>Money raised so far:</label>
      <br>
      <input class="form-control"type="number" #newRaisedMoney>
      <br>
      <button (click)="submitForm(newTitle.value, newDescription.value, newProjectManager.value, newDesiredMoney.value, newRaisedMoney.value); newTitle.value=''; newDescription.value=''; newProjectManager.value=''; newDesiredMoney.value=''; newRaisedMoney.value='';">Add</button>
    </form>
  </div>
</div>

<div>
  <app-projects></app-projects>
</div>
