<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add a new project.</h3>
  </div>
  <div class="panel-body">
    <div>
      <label>Title:</label>
      <br>
      <input #newTitle class="form-control">
      <br>
      <label>Description:</label>
      <br>
      <textarea #newDescription class="form-control"></textarea>
      <br>
      <label>Project Manager:</label>
      <br>
      <input #newProjectManager class="form-control" >
      <br>
      <label>Amount of money needed:</label>
      <br>
      <input type="number" #newDesiredMoney class="form-control">
      <br>
      <label>Money raised so far:</label>
      <br>
      <input type="number" #newRaisedMoney class="form-control">
      <br>
      <button (click)="submitForm(newTitle.value, newDescription.value, newProjectManager.value, newDesiredMoney.value, newRaisedMoney.value); newTitle.value=''; newDescription.value=''; newProjectManager.value=''; newDesiredMoney.value=''; newRaisedMoney.value='';">Add</button>
    </div>
  </div>
</div>

<div>
  <app-projects></app-projects>
</div>
